body{
    font-family: 'Abel', sans-serif;
    background-color: #ffdb00;
    color: #fff;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.text-box {
    margin: 100px;
    background-color:  #17191e;
    padding: 200px 50px 200px 50px;
    font-size: 20px;
    line-height: 1.5;
}

.btn-back>a {
    color: #ffdb00;
    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 650px) {
    .wrapper {
        max-width: 600px;
    }

    .text-box {
        margin: 10px;
        padding: 100px 25px 100px 25px;
    }